<h1>Parrots List</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Slug</th>
      <th>Name</th>
      <th>Age</th>
      <th>Color</th>
      <th>Gender</th>
      <th>Pedigree</th>
    </tr>
  </thead>
  <tbody>
    {{outlet}}
  </tbody>
</table>

<div class="show-more">
  {{#if indexInnerController.canLoadMore}}
    <a class="btn btn-primary" {{action 'getMore' target="indexInnerController"}}>
      {{#if indexInnerController.loading}}
        Loading
      {{else}}
        More
      {{/if}}
    </a>
  {{/if}}
</div>

<button class="btn btn-primary" {{action 'toggleParrotForm'}} style="margin-bottom: 10px;">Add parrot</button>

{{#if addingParrot}}
  {{parrot-form parrots=indexInnerController.model  currentControllerBinding="controller" indexInnerController=indexInnerController}}
{{/if}}
